.footer {
  height: 20px;
  top: 1040px;
  left: 40px;
  margin: 12px 24px;
  color: #000;
}

.footer__copyright {
  margin: 0;
}

.footer p {
  display: flex;
  
}

.footer span {
  margin-left: auto;
}
