@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-serif: 'Noto Serif', Georgia, Cambria, 'Times New Roman', serif;
  --font-mono: 'Roboto', 'Ubuntu Mono', 'Courier New', monospace;
  --bg: #fff;
  --fg: #111;
  --page-bg: #fff;
}

/* Base */
html {
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg);
}

.page {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.main {
  flex: 1;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
  font-weight: 700;
}

a {
  font-weight: 500;
  color: #696363bf;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--page-bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #696363bf;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
